

body {
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 150%;
  background:lightgrey;
}

.header {
  padding: 10px 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 24px;
  color: rgb(1, 13, 20);
  text-align: center;
  /* position: relative; */
}

img {
  height: 100%;
  width: 100%;
}

/* main {
  position: relative;
  /* float: left; */
} */

.article {
  /* margin-top: 30px;
  background-color: cornsilk;
  padding: 20px,20px,20px,20px; */
  /* width: 98%; */
}

.article_img {
  position: relative;
  float: left;
  width: 70%;
  height: auto;
  /* margin: 10px; */
  z-index: 9;
}

.article_txt {
  position: relative;
  /* float: left; */
  padding-left: 30px
}



/* .viz {
  padding: 20px,20px,20px,20px;
  background: green;
  display: inline-block;
} */

/* #figure {
  position: relative;
}  */

.viz_img {
  position: relative;
  float: left;
  width: 50%;
  height: auto;
  padding: 10px
}

.box {
  /* min-height: 50px; */
  padding: 5px;
  margin: 5px;
  /* font-weight: 800; */
  background-color:  whitesmoke
}

.hide {
  visibility: hidden;
}
.white {
  background: #fff;
}
.cornsilk {
  background: cornsilk;
}
.skyblue {
  background: deepskyblue;
}


